# -*- conf -*-
# flake8 settings for Ramble core files.
#
# These exceptions are for Ramble core files. We're slightly more lenient
# with objects (applications, modifiers, etc.). See .flake8_objects for that.
#
# E2: Whitespace
# - E203: space before ':' (one common false positive is string slice)
#
# W5: Line break warning
# - W503: line break before binary operator
# - W504: line break after binary operator
#
[flake8]
ignore = E203,W503,W504
max-line-length = 99

# exclude things we usually do not want linting for.
# These still get linted when passed explicitly, as when spack flake8 passes
# them on the command line.
exclude =
  .git
  etc/
  opt/
  share/
  lib/ramble/external
  lib/ramble/spack
  lib/ramble/llnl
  __pycache__
  var
  docs/tutorial/examples

