pytest
flake8
google-cloud-storage # for gcs fetch test
google-api-core # for gcs fetch error .execptions
coverage
pre-commit
graphlib-backport;python_version<"3.9"
urllib3==1.26.18;python_version<="3.6"
protobuf;python_version>"3.6"
protobuf==3.19.4;python_version<="3.6"
pyarrow==3.0.0;python_version<="3.6"
google-cloud-bigquery
tqdm
deprecation
