# This is a ramble workspace config file.
#
# It describes the experiments, the software stack
# and all variables required for ramble to configure
# experiments.
# As an example, experiments can be defined as follows.
# applications:
#   variables:
#     processes_per_node: '30'
#   hostname:
#     variables:
#       iterations: '5'
#     workloads:
#       serial:
#         variables:
#           type: 'test'
#         experiments:
#           single_node:
#             variables:
#               n_ranks: '{processes_per_node}'

ramble:
  env_vars:
    set:
      OMP_NUM_THREADS: '{n_threads}'
  variables:
    mpi_command: 'mpirun'
    batch_submit: '{execute_experiment}'
    processes_per_node: -1
  applications:
    hostname:
      workloads:
        serial:
          experiments:
            test:
              variables:
                n_ranks: '1'
                n_nodes: '1'
        parallel:
          experiments:
            test:
              variables:
                n_ranks: '2'
                n_nodes: '1'
                processes_per_node: '16'
  software:
    packages: {}
    environments: {}
