ramble:
  env_vars:
    set:
      I_MPI_DEBUG: '5'
  variables:
    mpi_command: 'mpirun -n {n_ranks} -ppn {processes_per_node}'
    batch_submit: '{execute_experiment}'
    processes_per_node: '16'
    n_ranks: '{processes_per_node}*{n_nodes}'
  applications:
    openfoam:
      workloads:
        motorbike:
          experiments:
            test_{partition}_{processes_per_node}_{n_nodes}_{env_name}:
              env_vars:
                set:
                  OMP_NUM_THREADS: '{n_threads}'
              variables:
                partition: ['part1', 'part2']
                processes_per_node: ['16', '32']
                env_name: ['openfoam-skx', 'openfoam-zen2']
                #^-- (partition, processes_per_node) -> (part1, 16, openfoam-skx), (part2, 32, openfoam-zen2)
                n_nodes: ['2', '4']
              matrices:
                - matrix_a:
                  - n_nodes
                #^-- (partition, processes_per_node, n_nodes) ->
                                #(part1, 16, openfoam-skx, 2), (part1, 16, openfoam-skx, 4)
                                #(part2, 32, openfoam-zen2, 2), (part2, 32, openfoam-zen2, 4)
  software:
    packages:
      gcc9:
        pkg_spec: gcc@9.3.0 target=x86_64
        compiler_spec: gcc@9.3.0
      ompi412:
        pkg_spec: openmpi@4.1.2 +legacylaunchers +pmi +thread_multiple +cxx target=x86_64
        compiler: gcc9
      openfoam-skx:
        pkg_spec: openfoam-org@7 target=cascadelake
        compiler: gcc9
      openfoam-zen2:
        pkg_spec: openfoam-org@7 target=zen2
        compiler: gcc9
      flex:
        pkg_spec: flex@2.6.4
        compiler: gcc9
    environments:
      openfoam-skx:
        packages:
        - ompi412
        - openfoam-skx
        - flex
      openfoam-zen2:
        packages:
        - ompi412
        - openfoam-zen2
        - flex
